<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<div id="sidebar">
    <h2>Menu</h2>
    {% block sidebar %}
        <ul>
            <li>aktueller Nutzer: {{ user }}</li>
            <li><a href="{% url  'habits_trainer:allTask' %}">Alle Tasks</a></li>
            <li><a href="{% url  'habits_trainer:actuallTask' %}">Aktuelle Task</a></li>
            <li><a href="{% url  'password_change' %}">Password ändern 😛</a></li>
            <li><a href="{% url  'logout' %}">Logout</a></li>
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>