{% extends "habits_trainer/base.html" %}
{% block content %}
    {{ task.name }}
    <br>
    Target Interval: {{ task.targetInterval }}
    <br>
    Mean Interval (last 5): {{ task.meanInterval }}
    <br>
    Last Done Date: {{ task.last_done_date }}
    <br>
    Last Snooze Date: {{ task.last_snooze_date }}
    <br>
    Acceptance: {{ task.acceptance }}
    <hr>
    {% for interval in intervals %}
        {{ interval }}
        <br>
    {% endfor %}
    <hr>

    <a href="{% url  'habits_trainer:task_done' task.id %}">Erledigt(heute)</a>
    <br>
    <a href="{% url  'habits_trainer:task_snoze' task.id %}">Verschieben</a>
    <br>
    <a href="{% url  'habits_trainer:task_edit' task.id %}">Bearbeiten</a>

{% endblock %}

{% block analytics_event %}'view_task_detailed'{% endblock %}




