{% extends "habits_trainer/base.html" %}

{% block content %}
    <h2>Task</h2>

    <table style="width:100%">
        <tr>
            <th>Task</th>
            <th>Erledigt</th>
            <th>Verschieben</th>
        </tr>







        {% for task in object_list %}
            <tr>


                <td><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></td>
                <td><a href="{% url  'habits_trainer:task_done' task.id %}?next={{ request.path }}">(+)</a></td>
                <td><a href="{% url  'habits_trainer:task_snoze' task.id %}?next={{ request.path }}">(-)</a></td>

                {% empty %}

                <p></p>

                <td>Du bist auf dem aktuellen Stand. Es sind keine Aufgaben mehr offen.</td>
                <td>(+)</td>
                <td>(-)</td>

            </tr>
        {% endfor %}


    </table>



    <hr>

    <h2>Funktionen</h2>

    <a href="{% url  'habits_trainer:task_add' %}">New Task</a>
<br>
{% endblock %}